{
    "extends": [
        "airbnb-base"
    ],
    "rules": {
        "no-plusplus": [
            "error",
            {
                "allowForLoopAfterthoughts": true
            }
        ],
        "no-restricted-syntax": 0,
        "no-await-in-loop": 0,
        "no-console": 0
    }
}